
/* CSS Document */

/* CSS Document */

*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
a{
	text-decoration: none;
}
.header{
	background-image: url("photos/headerBG.png");
	background-repeat: repeat-x;
	height: 10%;
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: horizental;
}

.login{
	position: absolute;
	right: 3%;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}
.loginRow{
	height: 10%;
}
.loginRow td{
	width: 500px;
}
.headImage{
	margin-left: 3%;
}
