.mainBody{
	background-image: url("photos/bus.jpg");
	background-repeat: no-repeat;
	height: 680px;
}

.inputBox{
	position: relative;
	z-index: 1;
	top: 15px;
	left: 50px;
	height: 250px;
	width: 400px;
	background-color: rgba(22,162,120,0.6);
}
.inputs{
	width: 350px;
	position: relative;
	top: -230px;
	z-index: 2;
	opacity: 1;
	left: 50px;
}
.inputText{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: #03631D;
}
.option{
	height: 30px;
	width: 100px;
}
.tableText{
	font-size:18px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.table tr td{
	padding-bottom: 15px;
}
.searchButton{
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	left: 150px;
}
.offersBox{
	position: relative;
	z-index: 1;
	float: right;
	right: 50px;
	top: 100px;
	height: 200px;
	width: 45%;
	background-color: rgba(255,0,4,0.4);
}
.offers{
	position: relative;
	z-index: 2;
	opacity: 1.0;
	width: 250px;
	top: 120px;
	left: 350px;
}
.footer{
	height: 80px;
	width: 100%;
	background-color: rgb(158, 158, 158);
	padding-top: 20px;
	text-align: center;
}